* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

ul {
    list-style: none;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 6em;

    padding: 1em;

    background-color: rgb(65, 64, 64);
    color: white;
}

.header-title {
    font-size: 40px;
}

.left-itens-header {
    display: flex;
    align-items: center;
}

.left-itens-header ul,
.footer ul {
    display: flex;
    gap: 1em;
    margin-right: 1.5em;

    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.left-itens-header input {
    margin-right: 5em;
    height: 2em;
    padding: 1em;
}

main {
    display: flex;

    padding-top: 2.5em;
}

.menu {
    display: flex;
    flex-direction: column;

    width: 25vw;

    margin-right: 1em;
}

.menu-title {
    font-size: 30px;

    padding: 1.3em 0.5em;
    padding-top: 0;
}

.menu li {
    text-align: left;
    margin: 1em 0 0 4em;
    width: fit-content;
}

.category-title,
.price-title {
    font-size: 23px;

    margin: 0 0.5em;
    padding-bottom: 0.4em;

    border-bottom: rgb(66, 62, 62) solid 1px;
}

.category-sec,
.price-sec {
    font-size: 18px;
    margin: 0.4em 0.5em 0.8em;

}